{% set IGB = request.META['HTTP_USER_AGENT'].startswith('EVE-minibrowser/') %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>PasteThat</title>
    {% if not IGB %}
    <script type="text/javascript">
    var o = 52; var getEl = function(obj) { return document.getElementById(obj); };
    function fix()
    {
        var el = el = getEl('tab_text');
        if (el && el.style.display != 'none')
        {
            var tx = ('id_text-text'); var cont = getEl('container');
            var inh = document.documentElement.clientHeight;
            var newh = inh-cont.offsetHeight-o;
            if (newh > 0) tx.style.height = (parseInt(tx.offsetHeight)+parseInt(newh))+'px';
            else if (parseInt(tx.offsetHeight)+newh > 150) tx.style.height = parseInt(tx.offsetHeight)+newh+'px';
        }
    }
    function tab(e, obj)
    {
        var sel = obj.getAttribute('container')
        if (!sel) return;
        var els = getEl('form_tabs').getElementsByTagName('li');
        for (var i=0; i<els.length; i++)
        {
            var tab = els[i].getAttribute('container');
            if (sel == tab) { els[i].className = 'active'; getEl('tab_' + tab).style.display = 'block'; }
            else { els[i].className = ''; getEl('tab_' + tab).style.display = 'none'; }
        }
        fix(); return false;
    }
    if (getEl('tab_text')) { window.onresize = fix; window.onload = fix; }
    </script>
    <script type="text/javascript" src="{{ BASE_URL }}js/user.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/global.css?{{ REVISIONS['global.css'] }}" type="text/css" media="all">
    {% endif %}
    {% block header %}{% endblock %}
</head>
<body>
    <div id="container">
        {% include "bone/header.html" %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% include "bone/footer.html" %}
    </div>
</body>
</html>
