<div id="footer">
    <p>Created by <a href="http://www.davidcramer.net/">David Cramer</a> | Powered by <a 
href="http://www.djangoproject.org/">Django</a>, <a href="http://www.postgresql.org/">PostgreSQL</a>, and <a href="http://pygments.org/">Pygments</a>.</p>
    {% if DEBUG %}
        <table style="text-align: left;" cellspacing="1">
            {% for QUERIES in time_spent, query %}
                <tr>
                    <td>{{ time_spent }}s</td>
                    <td>{{ query|escape }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>