{% extends "bone/bone.html" %}

{% set paste_list = paginate(request, paste_list) %}
{% set parser_cache = get_parser_summary_cache(paste_list.objects) %}

{% set TITLE = 'Recent Pastes' %}

{% block header %}
	{% if parser_cache[0] %}
		<style type="text/css">{{ parser_cache[0] }}</style>
	{% endif %}
{% endblock %}

{% set PAGE = 'recent' %}

{% block content %}
	<div class="title">
		<h1>{{ TITLE }}</h1>
	</div>
	{% if paste_list.objects %}
		{{ paging }}
		
		<ul class="paste-list">
			{% for paste in paste_list.objects %}
				<li>
					<a href="{{ paste.get_absolute_url() }}">{{ paste.get_name()|escape }}</a><small> by {% if paste.author %}<a href="{{ url('profiles.details', username=paste.author.username) }}">{{ paste.author.username }}</a>{% else %}Anonymous{% endif %} ({{ paste.post_date|timesince }}; {{ paste.get_type_display()|escape }}{% if paste.syntax %}/{{ paste.syntax.name|escape }}{% endif %})</small><br />
					{% if paste.type == PASTE_TYPE_TEXT %}
						{{ parser_cache[1][paste.id] or '' }}
					{% elif paste.type == PASTE_TYPE_IMAGE %}
						<img src="{{ paste.file.url }}" alt="" class="preview"/>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		
		{{ paging }}
	{% endif %}
{% endblock %}