{% extends "bone/bone.html" %}

{% block header %}
	{% if css %}<style type="text/css">{{ css }}</style>{% endif %}
{% endblock %}

{% block content %}
	{% if paste.can_delete(request) %}
		<div class="notice">You can still <a href="{{ url('pastes.delete', paste.id) }}">remove this paste</a> if you need to.</div>
	{% endif %}
	<div class="title">
		<h1>{{ paste.get_name() }}</h1>
		<div class="subtitle">Posted by {% if paste.author %}<a href="{{ url('profiles.details', username=paste.author.username) }}">{{ paste.author.username }}</a>{% else %}Anonymous{% endif %}
			{% if paste.parent %}
				in response to <a href="{{ paste.parent.get_absolute_url() }}">{{ paste.parent.get_name()|escape }}</a>
			{% endif %}
			{% if syntax %}
				highlighted in<div class="dropdown" onmouseover="this.className='dropdown-hover dropdown'" onmouseout="this.className='dropdown'"><div>{{ syntax.name|escape }}</div>
				<ul id="change-syntax">
					{% for s in syntax_list %}
						<li><a href="{{ url('pastes.details', paste.id, s.slug) }}">{{ s.name|escape }}</a></li>
					{% endfor %}
				</ul>
				</div>
			{% endif %}
		</div>
	</div>

	{% if paste.type == PASTE_TYPE_TEXT %}
		<ul class="tabSet" id="form_tabs">
			<li class="active" container="parsed" onclick="tab(event, this)"><a href="#parsed">Text</a></li>
			<li container="source" onclick="tab(event, this); document.getElementById('id_source').select();"><a href="#source">Source</a></li>
		</ul>
		<div class="box box-borderless" id="tab_parsed">
			{{ parsed }}
		</div>
		<div class="box box-source" id="tab_source" style="display: none;">
			<textarea id="id_source">{{ paste.text|escape }}</textarea>
		</div>
	{% elif paste.type == PASTE_TYPE_LINK %}
		<p>The URL <code>{{ paste.get_absolute_url()|escape }}</code> redirects to:</p>
		<p style="margin-left:50px; font-weight: bold;"><code>{{ paste.text|escape }}</code></p>
		<p><a href="{{ paste.text|escape }}">Proceed to this site.</a></p>
	{% elif paste.type == PASTE_TYPE_FILE %}
		<table class="download-widget" cellspacing="2">
			<tbody>
				<tr>
					<th>Filename</th>
					<td><a href="{{ paste.get_download_url() }}" class="filetype">{{ paste.get_file_basename() }}</a> ({{ paste.file.size|filesizeformat }})</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ paste.get_name()|escape }}</td>
				</tr>
				<tr>
					<th>Post Date</th>
					<td>{{ paste.post_date|date }}</td>
				</tr>
			</tbody>
		</table>
	{% elif paste.type == PASTE_TYPE_IMAGE %}
		<img src="{{ paste.file.url }}" alt="preview" style="max-width: 99%;" />
		<div class="share" id="share">
			<h5>Share this Image</h5>
			<div class="shareRow"><label for="id_share_thumbnail">URL</label><input type="text" id="id_share_thumbnail" onfocus="this.select();" class="text" value="{{ request.build_absolute_uri(url('pastes.download', paste.id)) }}" /></div>
			<div class="shareRow"><label for="id_share_thumbnail">HTML</label><input type="text" id="id_share_thumbnail" onfocus="this.select();" class="text" value="&lt;a href=&quot;{{ request.build_absolute_uri(url('pastes.details', paste.id)) }}&quot;&gt;&lt;img src=&quot;{{ request.build_absolute_uri(url('pastes.thumbnail', paste.id)) }}&quot; alt=&quot;{{ paste.get_name()|escape|escape }}&quot;/&gt;&lt;/a&gt;" /></div>
			<div class="shareRow"><label for="id_share_markdown">Markdown</label><input type="text" id="id_share_markdown" onfocus="this.select();" class="text" value="[![{{ paste.get_name() }}]({{ request.build_absolute_uri(url('pastes.thumbnail', paste.id)) }})]({{ request.build_absolute_uri(url('pastes.details', paste.id)) }})"/></div>
		</div>
	{% endif %}
{% endblock %}