{% extends "accounts/index.html" %}

{% block content %}
	<p>Use this form to update your password on PasteThat. You will need your current password in order to change your password.</p>
	<form method="POST" action="" class="wide-labels">
		{% if request.GET.get('success') == '1' %}
			<p class="success">Your account was updated successfully.</p>
		{% endif %}
		{{ form|render_form() }}
		<div class="formRow fButtonInputRow"><input type="submit" value="Cancel" name="cancel"/> <input type="submit" name="save" value="Change Password" /></div>
	</form>
{% endblock %}